/******** Google Fonts ********/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/******** Color Schemes ********/

:root {

  
  /* CSS HEX */
  --c-primary: #ff9f1cff;
  --c-secondary: #2ec4b6ff;
  --c-accent: #08211fff;
  --c-primary-alt: #ffbf69ff;
  --c-secondary-alt: #cbf3f0ff;
  
  --c-white-900: #ffffffff;
  --c-white-800: #f7fffe;
  --c-black-900: #090b0bff;
  
  --ff-primary: 'Montserrat', sans-serif;
}


/******** CSS Resets ********/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a:focus, a:hover {
  outline: none;
}

a {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: var(--c-black-text);
  line-height: 18px;
  font-weight: 400;
}

body {
  font-family: var(--ff-primary);
  font-size: 14px;
  color: var(--c-black-text);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--ff-primary);
  margin-bottom: 0;
}

/******** Utility Classes ********/

.container {
  max-width: 1440px;
}

.on-hover:hover > *:nth-child(2) {
  display: block;
}
.fixed-top  {
  background-color: var(--c-white-800) !important;
}
/******** Custom Properties ********/
.custom-pad {
  padding: 60px 0;
}
.custom-header {
  /* change header bg here */
  background-color: var(--c-white);
}
.custom-button  {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  background-color: var(--c-primary);
  color: var(--c-white-900);
  border: 2px solid transparent;

  font-family: var(--ff-primary);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;

  /* width: 171px; */ 
        /* or */
  padding: 0px 32px;
  height: 56px;

  border-radius: 50px;

  position: relative;
}
/* If there is a button icon */
.custom-button {
  gap: 0 10px;
}
.custom-button span {
  margin: 0;
}
/* Basic Button Hover */
.custom-button:hover {
  background-color: transparent;
  color: var(--c-primary);
  border-color: var(--c-primary);
}

/*=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+toggle-nav-css-start=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/

.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-toggler {
  position: relative;
  padding: 9px 10px;
  background-image: none;
  border: 1px solid transparent;
  margin: 0;
  height: 45px;
  width: 45px;
  border-radius: 0;
  z-index: 1;
}
.navbar-toggler { 
  /*change the hamburger menu bg */
  background-color: black;
}
.navbar-toggler .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}
.navbar-toggler .icon-bar { 
  /*change the hamburger bars color */
  background-color: #fff;
}
.navbar-toggler .icon-bar + .icon-bar {
  margin-top: 4px;
}
/*=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+toggle-nav-css-end=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/

/* *-*-*-*-*-*-* HEADER SECTION *-*-*-*-*-*-* */
.header-top {
  padding-block: 1rem;
  background-color: var(--c-white-800);
}
.header-top_socials,
.header-top_contact {
  gap: 25px;
}
.header-top_contact li a {
  gap: 10px;
  color: var(--c-accent);
}
.header-top_icon {
  font-size: 17px;
  color: var(--c-secondary);
}
.header-nav {
  padding-block: 1.3rem;
  transition: all 0.5s ease-in-out
}
.fixed-top .header-nav {
  padding-block: 1rem;
}
.custom-navbar-nav {
  align-items: center;
  gap: 0 70px;
}
.on-hover .dropdown-toggle::after {
  display: none;
}
.custom-navbar-nav li .nav-link {
  padding: 0 !important;
  font-size: 15px;
  font-weight: 600;
  color: var(--c-accent);
  text-transform: uppercase;
}
.fixed-top .custom-navbar-nav li .nav-link {
  font-size: 13px;
}
.fixed-top .custom-button {
  font-size: 12px;
  max-height: 45px;
  padding-inline: 22px;
}
.navbar-brand img {
  height: 72px;
  transition: all 0.6s ease-in-out;
}
.fixed-top .navbar-brand img {
  height: 60px;
}
/* *-*-*-*-*-*-* HERO SECTION *-*-*-*-*-*-* */
.banner_carousel img {
  max-height: 820px;
  object-fit: cover;
}

.banner_carousel .carousel-item::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(8, 33, 31, 0.57);
  top: 0; left: 0;
  /* z-index: -1; */
  position: absolute;
}

.custom-banner_content {
  right: unset;
  left: 50%;
  bottom: unset;
  top: 50%;
  transform: translate(-50%, -50%);
}

.typing-text::after {
  content: "|";
  animation: blink 1s step-end infinite;
}
.custom-banner-content h2 span {
  display: flex;
}